:root {
    --gray: #5D5C60;
    --lightgray: #938E93;
    --cream: #B0A295;
    --darkcream: #464039;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

html {
    margin: 0;
    height: 100%;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

button:hover {
    opacity: 0.75;

    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);

}

button:active {
    opacity: 0.5;
}

button {
    color: var(--cream);
    font-size: 50px;
    width: 15%;
    height: 85px;
    padding: .25rem;
    margin: .7rem;
    border-radius: 100%;
    background-color: var(--gray);
}

#eq {
    background-color: rgb(65, 82, 65);
}

#C {
    background-color: rgb(99, 61, 61);
}

input {
    width: 50%;
    height: 100px;
    text-align: right;
    font-size: 50px;
    background-color: var(--cream);
    color: var(--darkcream);
    border-radius: 30px;
}

input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}


header {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: 1s;
}

header h1 {
    font-size: 3rem;
    font-family: "Comic Sans MS", sans-serif;
    margin-bottom: 2rem;
    color: var(--gray);
}

.box {
    height: 100%;
    background-color: var(--lightgray);
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--dark);
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    transition: 1s;

}